$fullhd-enabled: false;

// $widescreen-enabled: false;
$body-size: 17px;
$body-line-height: 1.8;
$size-3: 2rem;
$size-7: 0.9rem;
$navbar-padding-vertical: 0.5rem;
$hero-body-padding-medium: 5rem 0.75rem;
$section-padding-medium: 5rem 0.75rem;
$primary: #3273dc;
$secondary: #ffd257; // #ffca2b;
$link: $primary;
$level-item-spacing: 1.5rem;

@import "bulma/sass/utilities/all";
@import "@dword-design/nuxt-buefy/style";

body {
  // fixes horizontal spacing bug on mobile
  // https://stackoverflow.com/questions/49642824/bulma-columns-mobile-overflowing-body
  overflow-x: hidden;
}

.has-shadow {
  box-shadow: $shadow;
}

.has-shadow-lg {
  box-shadow: $shadow-lg;
}

.has-shadow-circle {
  box-shadow: 0.2rem 0.5rem 1rem 0 rgba(#000, 0.1);
}

.has-text-secondary {
  color: $secondary !important;
}

.icon {
  .button & {
    width: auto;

    &,
    &.is-medium {
      height: 1.3em;
    }
  }

  &.is-small {
    height: 0.9rem;
  }

  &.is-large {
    height: 1.65em;
  }

  path {
    fill: currentcolor !important;
  }
}

.navbar-item {
  display: flex;

  // otherwise the brand will overflow on mobile
  flex-shrink: 1;

  // support icons in navbar items. Taken from button
  > .icon {
    width: auto;

    &,
    &.is-medium {
      height: 1.3em;
    }

    &.is-large {
      height: 1.65em;
    }

    &:first-child:not(:last-child) {
      @include ltr-property("margin", $button-padding-horizontal * 0.25);
    }

    &:last-child:not(:first-child) {
      @include ltr-property("margin", $button-padding-horizontal * 0.25, false);
    }
  }
}

.navbar-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-image {
  border-bottom: 1px solid $border-light;
}

a.is-text {
  color: $text;

  &:hover,
  &:focus,
  &.is-active {
    color: $link;
  }
}

.section.is-bordered {
  border-bottom: 2px solid $background;
}

.columns {
  position: relative;

  &.is-variable {
    &.is-10 {
      --column-gap: 2.5rem;
    }

    &.is-0-mobile {
      @include mobile {
        margin-top: 0;
        margin-bottom: 0.75rem;
        padding-bottom: 0.75rem;
      }

      > .column {
        @include mobile {
          padding: var(--column-gap);
        }
      }
    }
  }

  &.has-separator-dot {
    .column:not(:last-child) {
      position: relative;

      &::after {
        @include mobile {
          top: 100%;
          left: 50%;
        }

        @include tablet {
          top: 50%;
          left: 100%;
          transform: translate(-50%, -50%);
        }

        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: $text;
      }
    }
  }
}

.hash-link {
  color: $grey;

  &::after {
    content: "# ";
  }
}

.container {
  &.is-narrow {
    max-width: 872px; // taken from Hashnode
  }

  &.is-content {
    max-width: 740px;
  }
}

.covering-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img {
    @include tablet {
      object-fit: contain;
      object-position: bottom;
    }

    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
}

.image {
  &.is-devto-banner {
    padding-top: 42%;

    img {
      position: absolute;
      inset: 0;
    }
  }
}

.level {
  @include mobile {
    display: flex;
    flex-direction: column;
  }

  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.level-item {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.has-border-bottom {
  border-bottom: 1px solid $border;
}

.h-20rem-mobile {
  @include mobile {
    height: 20rem;
  }
}

.pb-6-tablet {
  @include tablet {
    padding-bottom: 3rem !important;
  }
}

.has-border {
  border: 1px solid $border;
}

.has-border-primary {
  border: 1px solid $primary;
}

.has-border-link {
  border: 1px solid $link;
}

.has-border-info {
  border: 1px solid $info;
}

.has-border-success {
  border: 1px solid $success;
}

.has-border-warning {
  border: 1px solid $warning;
}

.has-border-danger {
  border: 1px solid $danger;
}

#matomo-opt-out p:first-child {
  color: $danger !important;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}
