$fullhd-enabled: false;
//$widescreen-enabled: false;
$body-size: 17px;
$body-line-height: 1.8;
$size-3: 2.25rem;
$size-7: 0.9rem;
$navbar-padding-vertical: 0.5rem;
$hero-body-padding-medium: 5rem 0.75rem;
$section-padding-medium: 5rem 0.75rem;
$primary: #3273dc;
$link: $primary;
$level-item-spacing: 1.5rem;

@import "~bulma/sass/utilities/_all";
@import "@dword-design/nuxt-buefy/dist/style";

body {
  // fixes horizontal spacing bug on mobile
  // https://stackoverflow.com/questions/49642824/bulma-columns-mobile-overflowing-body
  overflow-x: hidden;
}

.navbar-item {
  display: flex;

  // otherwise the brand will overflow on mobile
  flex-shrink: 1;
}

.navbar-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.boxlink::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-image {
  border-bottom: 1px solid $border-light;
}

a.is-text {
  color: $text;

  &:hover,
  &:focus,
  &.is-active {
    color: $link;
  }
}

.section.is-bordered {
  border-bottom: 2px solid $background;
}

.columns.is-variable.is-10 {
  --columnGap: 2.5rem;
}

.icon {
  &.is-small {
    height: 0.9rem;
  }

  path {
    fill: currentColor !important;
  }
  .button & {
    &,
    &.is-small,
    &.is-medium,
    &.is-large {
      height: 1em;
    }
  }
}

.nuxt-content {
  /* h1 {
    @extend .title;
  }

  h2 {
    @extend .title;
    @extend .is-size-4;
  } */

  .icon.icon-link {
    width: auto;
    height: auto;
    margin-right: 0.25em;
    color: $grey;

    &::after {
      content: "#";
    }
  }
}

.container {
  &.is-narrow {
    max-width: 872px; // taken from Hashnode
  }

  &.is-content {
    max-width: 740px;
  }
}

.image.is-devto-banner {
  padding-top: 42%;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.level {
  @include mobile {
    display: flex;
    flex-direction: column;
  }

  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.level-item {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
