$fullhd-enabled: false;
//$widescreen-enabled: false;
$body-size: 17px;
$body-line-height: 1.8;
$size-3: 2.25rem;
$size-7: 0.9rem;
$navbar-padding-vertical: 0.5rem;
$hero-body-padding-medium: 5rem 0.75rem;
$section-padding-medium: 5rem 0.75rem;
$primary: #3273dc;
$link: $primary;
$level-item-spacing: 1.5rem;

@import "~bulma/sass/utilities/_all";
@import "@dword-design/nuxt-buefy/dist/style";
@import "~sass-stretched-link";

$shadow-lg: 0 0.5em 2em -0.125em rgba($scheme-invert, 0.2),
  0 0 0 1px rgba($scheme-invert, 0.02);

body {
  // fixes horizontal spacing bug on mobile
  // https://stackoverflow.com/questions/49642824/bulma-columns-mobile-overflowing-body
  overflow-x: hidden;
}

.navbar-item {
  display: flex;

  // otherwise the brand will overflow on mobile
  flex-shrink: 1;
}

.navbar-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.is-stretched {
  @include stretched-link;
}

.is-scale-on-hover {
  transition: 0.3s all;

  &:hover,
  &:focus-within {
    transform: scale(1.05);
  }
}

.card {
  &:not(.is-shadowless).is-scale-on-hover {
    &:hover,
    &:focus-within {
      box-shadow: $shadow-lg;
    }
  }
}

.card-image {
  border-bottom: 1px solid $border-light;
}

a.is-text {
  color: $text;

  &:hover,
  &:focus,
  &.is-active {
    color: $link;
  }
}

.section.is-bordered {
  border-bottom: 2px solid $background;
}

.columns {
  position: relative;

  &.is-variable {
    &.is-10 {
      --columnGap: 2.5rem;
    }

    &.is-0-mobile {
      @include mobile {
        margin-top: 0;
        margin-bottom: 0.75rem;
        padding-bottom: 0.75rem;
      }

      > .column {
        @include mobile {
          padding: var(--columnGap);
        }
      }
    }
  }
}

.icon {
  &.is-small {
    height: 0.9rem;
  }

  path {
    fill: currentColor !important;
  }
  .button & {
    &,
    &.is-small,
    &.is-medium,
    &.is-large {
      height: 1em;
    }
  }
}

.nuxt-content {
  .icon.icon-link {
    width: auto;
    height: auto;
    margin-right: 0.25em;
    color: $grey;

    &::after {
      content: "#";
    }
  }
}

.container {
  &.is-narrow {
    max-width: 872px; // taken from Hashnode
  }

  &.is-content {
    max-width: 740px;
  }
}

.covering-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img {
    @include tablet {
      object-fit: contain;
      object-position: bottom;
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
  }
}

.image {
  &.is-devto-banner {
    padding-top: 42%;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.level {
  @include mobile {
    display: flex;
    flex-direction: column;
  }

  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.level-item {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.has-border-bottom {
  border-bottom: 1px solid $border;
}

.h-20rem-mobile {
  @include mobile {
    height: 20rem;
  }
}

.pb-6-tablet {
  @include tablet {
    padding-bottom: 3rem !important;
  }
}
