jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: rokroskar/workflow-run-cleanup-action@v0.2.2
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: git config --global user.email "actions@github.com"
      - run: git config --global user.name "GitHub Actions"
      - run: yarn --frozen-lockfile
      - run: yarn clean
      - run: yarn test
        env:
          PORT: ${{ secrets.PORT }}
          BASE_URL: ${{ secrets.BASE_URL }}
          MAIL_CONFIG: ${{ secrets.MAIL_CONFIG }}
          RECAPTCHA_KEY: ${{ secrets.RECAPTCHA_KEY }}
      - if: github.ref == 'refs/heads/master'
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - if: github.ref == 'refs/heads/master'
        run: ssh-keyscan dword-design.de >> ~/.ssh/known_hosts
      - if: github.ref == 'refs/heads/master'
        env:
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Push changed files
        run: yarn dw-ci push-changed-files
      - if: github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Release
        run: yarn semantic-release
name: build
on:
  push:
    branches:
      - "**"
