concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          ref: ${{ github.event.pull_request.head.repo.full_name == github.repository &&
            github.event.pull_request.head.ref || '' }}
      - uses: actions/setup-node@v4
        with:
          check-latest: true
          node-version: 22
      - run: corepack enable
      - run: git config --global user.email "actions@github.com"
      - run: git config --global user.name "GitHub Actions"
      - run: pnpm install --frozen-lockfile
      - env:
          BASE_URL: ${{ secrets.BASE_URL }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAIL_CONFIG: ${{ secrets.MAIL_CONFIG }}
          PORT: ${{ secrets.PORT }}
        run: pnpm verify
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: ignore
          name: Data from tests
          path: test-results/*/**
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - env:
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Push changed files
        run: pnpm dw-ci push-changed-files
      - if: github.ref == 'refs/heads/master'
        uses: webfactory/ssh-agent@v0.5.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - if: github.ref == 'refs/heads/master'
        run: ssh-keyscan -H sebastianlandwehr.com >> ~/.ssh/known_hosts
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.ref == 'refs/heads/master'
        name: Release
        run: pnpm semantic-release
name: build
on:
  pull_request: {}
  push:
    branches:
      - master
permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write
